Listas

In [1]:
alunos = ["Ana", "Amanda", "Bruno", "João"]
notas = [10, 9, 8, 7]

# Exibir o primeiro nome da lista alunos
alunos[0]

# Exibir a terceira nota da lista notas
notas[2]

In [3]:
# Exibir o primeiro nome da lista alunos
print(alunos[0])

# Exibir a terceira nota da lista notas
print(notas[2])

Ana
8

In [4]:
# Selecionar uma fatia dos dados (Amanda e Bruno)
#lista[posição_inicial : posição_final +1]

alunos[1:3]

['Amanda', 'Bruno']

In [5]:
#Selecionar apenas os nomes Bruno e João

alunos[2:]

['Bruno', 'João']

In [6]:
print(type(notas))

print(len(notas))

<class 'list'>
4

Lista (list) - Conversão para string

Para converter uma lista em STRING, nós utilizamos o comando JOIN

In [7]:
supermercado = ["Batata", "Óleo", "Margarina", "Café"]

listaConvertida = ";".join(supermercado)

print(listaConvertida)

print(type(listaConvertida))

Batata;Óleo;Margarina;Café
<class 'str'>

# Convertendo STRING para LISTA

In [8]:
lista = listaConvertida.split(";")

print(lista)
print(type(lista))

['Batata', 'Óleo', 'Margarina', 'Café']
<class 'list'>

#Tuplas (Tuple)

Criamos utilizando parênteses

Separamos os elementos por vírgula

Após sua definição, não podemos alterar sua estrutura

In [12]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05,86.08, 62)

print(type(valores))

print(type(pontos))

<class 'tuple'>
<class 'tuple'>

Tuplas (tuple) - Outros exemplos

In [14]:
my_list = [1,2] # Criando uma lista

my_tuple = (1,2) # Criando uma tupla

# Alterando o elemento de posição 1 da lista
my_list[0] = 10

print(my_list)

#Alterar um elemento de uma tupla

try:

    my_tuple[1]=3

except TypeError:

    print("Não é possível modificar uma tupla")

[10, 2]
Não é possível modificar uma tupla

Criando uma função com tuplas

In [15]:
def sum_and_product (x, y):

    return (x + y), (x * y)

In [18]:
sum_and_product(10,5)

(15, 50)

Dicionário (dict)

Dict é um tipo de dado muito flexível do Python. Eles ão utilizados para agrupar elementos através da estrutura

In [23]:
altura = {"Amanda":1.65,
          "Ana":1.60,
          "João":1.5
          }

peso = {
    "Amanda":60,
    "Ana":58,
    "João":100

}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [26]:
#Acessar informações do dicionário
print(altura["Ana"])
print(peso["Ana"])

1.6
58